/*-------------------------------------------------------------------------------------
Theme Name  : HCA
Theme URI   : http://www.hca.com
Author URI  : http://gitlab.com/monayem
Description : HCA TEMPLATE CREATED BY MONAYEM . 
Author      : MONAYEM CHOWDHURY | 01823949999
Version     : 1.0
----------------------------------------------------------------------------------------*/

/*
---------------------------
    TABLE OF CONTENT
---------------------------
1.  FONTS
2.  TYPHOGRAPHY
3.  HEADER
4.  NAVBAR
5.  ABOUT US
6.  ACTIVITIES SECTION
7.  RESPONSIVE SECTION
*/

/*START FONTS*/

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular.woff');
    src: url('../fonts/OpenSans-Regular.eot') format('embedded-opentype'),
        url('../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular.woff') format('woff'),
        url('../fonts/OpenSans-Regular.ttf') format('truetype'),
        url('../fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg'),
        url('../fonts/OpenSans-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold.woff');
    src: url('../fonts/OpenSans-Bold.eot') format('embedded-opentype'),
        url('../fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/OpenSans-Bold.woff') format('woff'),
        url('../fonts/OpenSans-Bold.ttf') format('truetype'),
        url('../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg'),
        url('../fonts/OpenSans-Bold.otf') format('opentype');
}

/*END FONTS*/

/*START TYPHOGRAPHY*/
body {
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    color: #222;
}

ul,
li {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

a {
    font-family: 'OpenSans-Regular';
    font-size: 16px;
    color: #222;
    text-decoration: none;
    transition: all 0.5s ease-in;
}

a:focus,
a:hover {
    color: #F68B1E;
    text-decoration: none;
}

p {
    font-size: 14px;
    color: #888;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
    color: #888;
}

h5 {
    font-size: 15px;
}

h6 {
    font-size: 16px;

}

/*END TYPHOGRAPHY*/

/*START HEADER */
header {
    background: #800054;
    position: relative;
    width: 100%;
    padding: 5px 0px;
    display: block;
}

/*END HEADER */

/*START NAVBAR */
header .hca-navbar {
    border: 0px;
    background: transparent;
    margin: 0px;
    padding: 0px;
    height: auto;
}

.hca-navbar .navbar-header .navbar-brand {
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 25px;
    height: auto;
    color: #fff;
    text-transform: uppercase;
}

.hca-navbar .navbar-nav li a {
    font-family: 'OpenSans-Bold', sans-serif;
    color: #fff;
}

.hca-navbar .navbar-nav li.active a {
    height: auto;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 5px;
}

/*END NAVBAR */
/*START ABOUT US */
.about-us-section {
    margin: 20px 0px;
}

.about-us-section .about-us-content {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

/*END ABOUT US */

/*START ACTIVITIES SECTION*/

.activities-circle {
    height: 150px;
    width: 150px;
    background: #800054;
    border-radius: 50%;
    position: relative;
}

.activities-circle::before {

    height: 110px;
    width: 3px;
    background: #800054;
    content: '';
    transform: rotate(-50deg);
    position: absolute;
    left: 170px;
    top: 100px;
    z-index: -101;
}
.activities-section .row:nth-child(even) .activities-circle::before {
    transform: rotate(50deg);
    top: 103px;
    z-index: -101;
    left: -25px;
}

.activities-section .container>.row:last-of-type .activities-circle::before {
    content: none;
}

/*END ACTIVITIES SECTION*/

/*START RESPONSIVE SECTION*/

/* -------------------------------------------------
  Large Screen. 
---------------------------------------------------*/

@media (min-width: 1024px) and (max-width: 1600px) {}

/* -------------------------------------------------
  Laptop Screen 
---------------------------------------------------*/

@media (min-width: 1170px) and (max-width: 1366px) {}

/* -------------------------------------------------
  Old Desktop :992
---------------------------------------------------*/

@media (min-width: 992px) and (max-width: 1169px) {}

/* -------------------------------------------------
  Tablet Screen : 768
---------------------------------------------------*/

@media (min-width: 768px) and (max-width: 991px) {

    .activities-circle::before {
        content: none;
    }

}

/* -------------------------------------------------
  Small Mobile : 320
---------------------------------------------------*/

@media (max-width: 767px) {
    .activities-circle {
        width: 120px;
        height: 120px;
    }

    .activities-circle::before {
        content: none;
    }

    .activities-section .container>.row:nth-child(odd) .activities-circle {
        float: right;
    }

}

/* -------------------------------------------------
  Large Mobile :480px. 
---------------------------------------------------*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .activities-circle {
        width: 120px;
        height: 120px;
    }

    .activities-circle::before {
        content: none;
    }

    .activities-section .container>.row:nth-child(odd) .activities-circle {
        float: right;
    }
}

/*END RESPONSIVE SECTION*/